<md-card >
    <md-toolbar color="primary">
        <span>Create new user:</span>
    </md-toolbar>


    <form
        [formGroup]="userCreateForm"
        (ngSubmit)="onSubmit()"
      >
        <md-input-container>
            <md-placeholder>
                <md-icon class="material-icons">person</md-icon>&nbsp;Username
            </md-placeholder>
            <input mdInput type="text" [formControlName]="'username'">
        </md-input-container>
    <br>

        <md-input-container>
            <md-placeholder>
                <md-icon class="material-icons">vpn_key</md-icon>&nbsp;Password
            </md-placeholder>
            <input mdInput type="text" [formControlName]="'password'">
        </md-input-container>
     <br>

        <label>User Role</label>
        <select [formControlName]="'user_role_id'">
            <option *ngFor="let userrole of UserRoleList" [ngValue]="userrole.id">
                {{ userrole.code }}
            </option>
        </select>

     <br>
        <br>

        <button id="submit" >Save</button>
    </form>

</md-card>